<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Login</title>
</head>
<body>
  <!-- Including Flash mesages temporarily  -->
       <% if (success && success.length>0) { %>
        <div>
    <p><%= success %></p>
  </div>
<% } %>
<% if (error && error.length>0) { %>
        <div>
    <p><%= error %></p>
  </div>
<% } %>
  <h1>Login</h1>
  <form action="/user/login" method="POST">

    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" placeholder="Enter your username" required><br><br>

    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" placeholder="Enter your password" required><br><br>

    <button type="submit">Login</button>
  </form>
</body>
</html>
